name: MLOps CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: make install

      - name: Lint code
        run: make lint

      - name: Run tests
        run: make test

      - name: Format check
        run: black . --check

    #   # ---------------- Docker Section ----------------

      - name: Build Docker image
        run: docker build -t secure-ml-api:latest .

      - name: Run Docker container
        run: |
          docker run -d -p 8000:8000 secure-ml-api:latest
          sleep 10

      - name: Check FastAPI health
        run: curl --fail http://localhost:8000 || exit 1

      - name: Stop container
        run: docker stop fastapi_test
